In [1]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore
cred = credentials.Certificate("/Users/willsu/Downloads/project-98a90-firebase-adminsdk-v0bde-21f7677ee6.json")
firebase_admin.initialize_app(cred)

db = firestore.client()

In [2]:
doc = {
    'name': "abc",
    'email': "abc@gmail.com"
}

# 語法
# collection_ref = db.collection("集合路徑")

collection_ref = db.collection("pyradise_students")

# collection_ref提供一個add的方法，input必須是文件，型別是dictionary

collection_ref.add(doc)

(seconds: 1574068459
 nanos: 292145000,
 <google.cloud.firestore_v1.document.DocumentReference at 0x104f79c50>)

In [3]:
doc_ref = db.collection('p1').document('stockclose')

doc_ref.set({
'price': a,
})

update_time {
  seconds: 1574080499
  nanos: 174374000
}

In [37]:
import pandas_datareader as pdr
startTime = '2019-1-01'

df_2330 = pdr.DataReader('2330.TW', 'yahoo', startTime)
for i in range(0,90): 
    a=df_2330.iloc[i,3]
    doc_ref = db.collection('price').document('stock2330')
    s=str(i)
    doc_ref.update({
    s:a,
    })
    print(s,a)

0 219.5
1 215.5
2 208.0
3 213.0
4 211.0
5 215.5
6 216.0
7 220.5
8 218.5
9 221.0
10 217.5
11 220.5
12 218.5
13 221.0
14 223.0
15 220.5
16 222.5
17 226.0
18 229.0
19 222.5
20 221.0
21 228.0
22 230.0
23 229.0
24 227.0
25 227.0
26 230.0
27 229.0
28 234.5
29 236.5
30 236.5
31 238.0
32 239.5
33 239.0
34 235.5
35 233.0
36 234.0
37 234.0
38 230.0
39 230.5
40 235.5
41 237.0
42 234.5
43 239.0
44 241.0
45 240.5
46 242.0
47 245.5
48 248.5
49 241.5
50 244.0
51 241.5
52 242.0
53 245.5
54 245.5
55 246.0
56 246.5
57 253.0
58 254.0
59 254.0
60 252.0
61 252.0
62 255.5
63 257.0
64 261.5
65 264.5
66 264.5
67 266.0
68 268.0
69 269.0
70 267.5
71 260.0
72 259.5
73 259.0
74 259.0
75 265.0
76 259.0
77 262.5
78 260.0
79 256.5
80 256.0
81 250.5
82 248.5
83 249.0
84 247.0
85 241.5
86 238.0
87 234.0
88 238.0
89 230.0

In [7]:
df_2330

             High    Low   Open  Close    Volume   Adj Close
Date
2019-01-02  226.5  219.0  226.5  219.5  32900482  210.842331
2019-01-03  218.0  214.0  214.0  215.5  34087620  207.000092
2019-01-04  211.5  206.5  211.5  208.0  65943521  199.795929
2019-01-07  214.0  211.0  212.0  213.0  35442176  204.598709
2019-01-08  212.5  210.0  212.0  211.0  22694481  202.677597
2019-01-09  216.5  211.0  212.0  215.5  46295446  207.000092
2019-01-10  216.5  214.5  216.0  216.0  20754593  207.480377
2019-01-11  220.5  218.0  219.0  220.5  28102288  211.802887
2019-01-14  220.0  217.0  218.5  218.5  17612296  209.881775
2019-01-15  221.0  215.5  216.5  221.0  38882923  212.283157
2019-01-16  220.0  217.5  218.5  217.5  28978282  208.921219
2019-01-17  221.0  218.0  218.0  220.5  21163986  211.802887
2019-01-18  220.0  217.5  219.0  218.5  49627569  209.881775
2019-01-21  223.0  220.0  220.0  221.0  29384866  212.283157
2019-01-22  223.0  219.0  220.0  223.0  28926483  214.204285
2019-01-23  222.0  220.0  221.5  220.5  16671213  211.802887
2019-01-24  222.5  220.5  222.5  222.5  26417924  213.724014
2019-01-25  227.0  225.0  226.5  226.0  46692764  217.085953
2019-01-28  229.5  228.0  229.5  229.0  26026257  219.967636
2019-01-29  225.0  222.0  222.5  222.5  41122520  213.724014
2019-01-30  221.5  220.0  220.5  221.0  44755945  212.283157
2019-02-11  229.0  226.5  228.0  228.0  78307106  219.007080
2019-02-12  230.0  229.0  230.0  230.0  29406670  220.928177
2019-02-13  232.0  228.5  232.0  229.0  28634925  219.967636
2019-02-14  230.0  226.0  229.5  227.0  23647751  218.046524
2019-02-15  229.0  226.5  229.0  227.0  22369799  218.046524
2019-02-18  230.5  228.5  229.0  230.0  16978916  220.928177
2019-02-19  230.5  229.0  230.0  229.0  16577023  219.967636
2019-02-20  234.5  231.0  231.5  234.5  30479710  225.250687
2019-02-21  236.5  234.5  235.5  236.5  33764489  227.171799
2019-02-22  236.5  234.0  235.5  236.5  22032163  227.171799
2019-02-25  239.0  236.0  237.5  238.0  24105138  228.612656
2019-02-26  240.0  236.5  239.0  239.5  24522789  230.053482
2019-02-27  239.5  237.0  238.5  239.0  35240889  229.573212
2019-03-04  239.5  234.5  239.5  235.5  39655513  226.211243
2019-03-05  234.5  232.5  234.0  233.0  22641407  223.809860
2019-03-06  235.5  233.5  235.0  234.0  20433226  224.770416
2019-03-07  235.0  233.0  235.0  234.0  17126192  224.770416
2019-03-08  231.5  229.0  231.0  230.0  22190659  220.928177
2019-03-11  230.5  227.5  228.0  230.5  23200793  221.408463
2019-03-12  237.0  232.5  233.0  235.5  23588085  226.211243
2019-03-13  237.0  234.0  234.0  237.0  20500195  227.652084
2019-03-14  239.0  234.0  239.0  234.5  17175356  225.250687
2019-03-15  239.5  235.5  237.0  239.0  33649729  229.573212
2019-03-18  241.0  239.0  239.5  241.0  26856532  231.494308
2019-03-19  240.5  238.0  239.0  240.5  14479009  231.014038
2019-03-20  242.0  239.5  242.0  242.0  22975971  232.454865
2019-03-21  245.5  241.0  242.5  245.5  26179502  235.816818
2019-03-22  248.5  244.5  248.0  248.5  22931467  238.698502
2019-03-25  243.5  240.5  240.5  241.5  19211254  231.974594
2019-03-26  244.0  241.0  243.0  244.0  19920170  234.375992
2019-03-27  242.5  240.5  242.0  241.5  22590089  231.974594
2019-03-28  242.5  240.0  240.5  242.0  13933054  232.454865
2019-03-29  245.5  240.5  243.0  245.5  28220810  235.816818
2019-04-01  251.0  245.0  251.0  245.5  35330656  235.816818
2019-04-02  249.5  246.0  249.5  246.0  24105053  236.297104
2019-04-03  249.0  246.5  249.0  246.5  24945323  236.777374

In [9]:
df_2330.index

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15',
               ...
               '2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08',
               '2019-11-11', '2019-11-12', '2019-11-13', '2019-11-14',
               '2019-11-15', '2019-11-18'],
              dtype='datetime64[ns]', name='Date', length=210, freq=None)

In [12]:
df_2330.index('Date')

TypeError: 'DatetimeIndex' object is not callable

In [25]:
i=1.0
type(i)

float

In [27]:
b=str(i)
type(b)

str

In [7]:
import pandas_datareader as pdr
startTime = '2018-11-01'

df_2330 = pdr.DataReader('2330.TW', 'yahoo', startTime,'2019-1-02')

In [8]:
df_2330

             High    Low   Open  Close    Volume   Adj Close
Date
2018-11-01  237.0  233.0  236.0  235.5  41974797  226.211243
2018-11-02  236.5  233.5  236.5  236.5  30722361  227.171799
2018-11-05  235.5  232.0  233.0  235.0  25452065  225.730972
2018-11-06  235.5  232.5  234.0  234.5  30468176  225.250687
2018-11-07  236.0  232.5  233.0  234.0  34424652  224.770416
2018-11-08  237.5  236.0  237.5  236.5  24739146  227.171799
2018-11-09  234.5  231.0  234.5  231.0  23219081  221.888733
2018-11-12  234.5  230.0  230.0  231.5  23228445  222.369019
2018-11-13  228.0  224.5  224.5  227.5  36104127  218.526794
2018-11-14  231.0  228.5  230.0  228.5  20028279  219.487350
2018-11-15  232.0  228.5  229.5  231.0  22072228  221.888733
2018-11-16  229.0  225.0  229.0  226.0  46738909  217.085953
2018-11-19  225.0  221.0  225.0  222.0  48944754  213.243729
2018-11-20  220.5  218.0  219.0  218.0  41569756  209.401505
2018-11-21  220.0  214.0  214.5  219.0  35206343  210.362061
2018-11-22  222.0  219.0  221.5  219.0  21929610  210.362061
2018-11-23  220.5  217.0  220.5  218.5  14883334  209.881775
2018-11-26  224.0  218.5  219.0  223.0  30599804  214.204285
2018-11-27  224.5  219.0  220.0  224.0  26584349  215.164841
2018-11-28  227.0  222.0  222.5  226.5  24429026  217.566223
2018-11-29  231.5  229.0  231.5  229.0  44383207  219.967636
2018-11-30  231.0  225.5  229.5  225.5  55827957  216.605667
2018-12-03  235.0  231.0  231.0  235.0  45333986  225.730972
2018-12-04  234.5  231.0  233.0  234.0  39746162  224.770416
2018-12-05  227.5  225.0  226.5  226.0  42835576  217.085953
2018-12-06  222.0  219.5  220.0  220.0  40149112  211.322601
2018-12-07  223.5  220.5  222.5  221.0  25063568  212.283157
2018-12-10  220.0  218.5  219.5  219.0  19433461  210.362061
2018-12-11  223.0  219.0  220.0  222.5  27375220  213.724014
2018-12-12  227.0  222.5  223.5  226.5  26433846  217.566223
2018-12-13  227.5  225.0  227.0  226.0  32087141  217.085953
2018-12-14  223.5  220.5  223.0  222.5  38646159  213.724014
2018-12-17  225.0  220.0  221.0  223.5  18938952  214.684570
2018-12-18  223.0  220.5  221.0  222.5  30203541  213.724014
2018-12-19  225.5  222.0  222.0  225.5  23390082  216.605667
2018-12-20  222.5  221.0  221.0  221.0  35027116  212.283157
2018-12-21  224.0  219.0  219.0  223.5  43507532  214.684570
2018-12-24  221.5  219.5  221.5  220.0  22976100  211.322601
2018-12-25  218.0  215.0  215.5  217.5  19402777  208.921219
2018-12-26  219.5  216.0  218.5  216.5  16463259  207.960663
2018-12-27  224.0  220.5  222.0  223.0  21491484  214.204285
2018-12-28  225.5  222.5  223.5  225.5  29456773  216.605667
2019-01-02  226.5  219.0  226.5  219.5  32900482  210.842331
2019-01-03  218.0  214.0  214.0  215.5  34087620  207.000092